$jumbotron-bg: #232323;

@import "~bootswatch/dist/cyborg/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cyborg/bootswatch";
@import '~bootstrap-icons/font/bootstrap-icons.scss';
@import 'Shared/blazor.scss';
@import 'IDE/ide-element';

.btn-icon {
    padding: 2px !important;
    font-size: 6px !important;
}

.main-subheading {
    font-size: 12px;
    color: #5a6268;
}

.btn-group {
    > .btn-group-vertical {
        > .btn {
            border-radius: 0 !important;
        }

        &:first-child > .btn {
            &:first-child {
                border-top-left-radius: $border-radius !important;;
            }

            &:last-child {
                border-bottom-left-radius: $border-radius !important;;
            }
        }

        &:last-child > .btn {
            &:first-child {
                border-top-right-radius: $border-radius !important;;
            }

            &:last-child {
                border-bottom-right-radius: $border-radius !important;;
            }
        }
    }
}

.btn-group-vertical > .btn-group {
    &:first-child > .btn-group-vertical > .btn:last-child,
    &:last-child > .btn-group-vertical > .btn:first-child, 
    &:not(:first-child):not(:last-child) > .btn-group-vertical > .btn {
        border-radius: 0 !important;
    }
}

.input-count {
    flex: 0.3 1 !important;
}

.btn-group.top-tabs .btn {
    &:first-child {
        border-bottom-left-radius: 0;
    }
    &:last-child {
        border-bottom-right-radius: 0;
    }
}

.bottom-tabs {
    .btn-group .btn:first-child,
    .input-group > *:first-child,
    .input-group .btn {
        border-top-left-radius: 0;
    }
    .btn-group .btn:last-child,
    .input-group > *:last-child,
    .input-group .btn {
        border-top-right-radius: 0;
    }
}