$jumbotron-bg: #232323;

@import "~bootswatch/dist/cyborg/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cyborg/bootswatch";
@import '~bootstrap-icons/font/bootstrap-icons.scss';
@import 'blazor.scss';

.editor-files {
    max-width: calc(100vw - 30px);
    border-radius: .2rem .2rem 0 0;
    overflow-x: auto;
}

.editor-prompt {
    .btn, .form-control, .input-group-prepend, .input-group-append {
        border-radius: 0 !important;
    }
}

.ide-file-toolbar.btn-group {
    .filename {
        border-radius: $border-radius 0 0 $border-radius !important;
    }
    .actions.btn-group-vertical .btn {
        border-radius: 0 !important;
        &:first-child {
            border-top-right-radius: $btn-border-radius !important;
        }
        &:last-child {
            border-bottom-right-radius: $btn-border-radius !important;
        }
    }
}

.btn-icon {
    padding: 2px !important;
    font-size: 8px !important;
}

.main-subheading {
    font-size: 12px;
    color: #5a6268;
}

.input-count {
    flex: 0.3 1 !important;
}

.btn-group.top-tabs .btn {
    &:first-child {
        border-bottom-left-radius: 0;
    }
    &:last-child {
        border-bottom-right-radius: 0;
    }
}

.bottom-tabs {
    .btn-group .btn:first-child,
    .input-group > *:first-child,
    .input-group .btn {
        border-top-left-radius: 0;
    }
    .btn-group .btn:last-child,
    .input-group > *:last-child,
    .input-group .btn {
        border-top-right-radius: 0;
    }
}