@page "/Chat"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@implements IDisposable

<h3>Chat</h3>

<div class="form-group">
    <label>
        User:
        <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" />
    </label>
</div>
<button @onclick="Send" disabled="@(!IsConnected)">Send</button>
<hr />

<ul>
    @foreach (var message in Messages)
    {
        <li>@message</li>
    }
</ul>


@code {
    private HubConnection HubConnection;
    private List<string> Messages = new List<string>();
    private string userInput;
    private string messageInput;

    protected override async Task OnInitializedAsync()
    {
        HubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/hubs/chat"))
            .Build();

        HubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            Messages.Add($"{user}: {message}");
            StateHasChanged();
        });

        await HubConnection.StartAsync();
    }

    Task Send() =>
        HubConnection.SendAsync("SendMessage", userInput, messageInput);
        
    bool IsConnected => 
        HubConnection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        HubConnection.DisposeAsync();
    }

}