<p>
    <strong>How:</strong> Select an Entity from the list of entity types on the right. Then click in the
    canvas to spawn in entities.
</p>
<p>
    You can clear all entities by clicking the "Reset" button.
</p>
<p>
    To change the entity behaviour, modify the code via the in-browser editor  by clicking "Edit Code".
    Any changes you make are periodically saved to localStorage. You can also
    (<a href="javascript:void(0)" @onclick="DoReset">reset back to examples</a>). If a new version of
    "PondSharp.UserScripts" is released, the default samples will be reloaded and you will lose any changes
    you have made, so be sure to backup any entities you would prefer to keep.
</p>
<p>
    You can download the <a href="sample-project.zip" target="_blank">Sample Project</a> which can be used in
    JetBrains® Rider or Microsoft® Visual Studio for easier development of entities.
</p>
<p>
    <strong>Who:</strong> This project was made by
    <a href="https://github.com/mrkmg">Kevin Gravier</a> and open sourced under the MIT License.
</p>
<p>
    <strong>What:</strong> A simulation to demo in browser C# .Net Standard compilation and execution
    using 
    <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a>, 
    <a href="https://getbootstrap.com/">Bootstrap</a>,
    <a href="https://www.pixijs.com/">PixiJS</a>, and
    <a href="https://microsoft.github.io/monaco-editor/">Monaco Editor</a>.
</p>
<p>
    <strong>Where:</strong>
    <a href="https://github.com/mrkmg/PondSharp">https://github.com/mrkmg/PondSharp</a>
</p>
<p>
    <strong>When:</strong> © 2020 Kevin Gravier (MIT License).
</p>
<p>
    <strong>Why:</strong> This was made mostly out of curiosity in the ability to compile and run c# in the
    browser with Blazor. This may or may not turn into something more.
</p>

@code {
    [Parameter]
    public EventCallback OnDoReset { get; set; }

    private void DoReset() => OnDoReset.InvokeAsync(this);
}